<header>
  <h1>{{title}}</h1>

  <div class="menu">
    <a href="/">Weather</a>
    {{!-- <a href="/weather">Weahter</a> --}}
    <a href="/about">About</a>
  </div>

  <p>
    {{text}}
  </p>
</header>